@tailwind base;
@tailwind components;
@tailwind utilities;

.twitter-text{
	color: #101828;
}
.links{
	filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}
#root{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-block: 1rem;
	padding-bottom: 2rem;
}
li{
	cursor: pointer;
}
svg{
	cursor: pointer;
}